{% extends 'base.html' %}
{% block content %}

<h1>Deck Details</h1>
 <div class="row">
  <div class="col s6">
   <div class="card">
    <div class="card-content">
     <span class="card-title">{{ deck.name }}</span>
     <p>Game: {{ deck.game }}</p>
     <p>Color: {{ deck.color }}</p>
    </div>        
   <div class="card-action">
    <a href="{% url 'decks_update' deck.id %}">Edit</a>
    <a href="{% url 'decks_delete' deck.id %}">Delete</a>
   </div>
  </div>
  <!-- no photo code -->
 </div>
 <!-- New Markup Below -->
 <div class="col s6">
    <h4>Add a card </h4>
    <br><hr>
    <form action="{% url 'add_card' deck.id %}" method="POST">
    {% csrf_token %}
    {{ card_form.as_p }}
    <input type="submit" class="btn" value="Add Card">
    </form>

    <br><hr>
    <table class="striped">
      <thead>
        <tr><th>Name</th><th>cardType</th></tr>
      </thead>
      <tbody>
        {% for card in deck.card_set.all %}
          <tr>
            <td>{{card.name}}</td>
            <td>{{card.cardType}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h4>Formats this deck can be used in</h4>
    {% if deck.formats.count %}
      {% for format in deck.formats.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
               Name: {{ format.name }} Requirements: {{ format.requirements }}
            </span>
          </div>

        </div>
      {% endfor %}
    {% else %}
      <p>Not asociated with any formats yet. 😿</p>
    {% endif %}
  </div>

<div class="col s6">
  <h4>Other available Formats</h4>
  {% if formats.count %}
    {% for format in formats.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
             Name: {{ format.name }} Requirements: {{ format.requirements }}

          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_format' deck.id format.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>{{deck.name}} Is already associated with all available formats.</p>
  {% endif %}
</div>
</div>
{% endblock %}
